body {
    font-size: 15px;
    margin: 0px;
    font-family: Helvetica, Arial;
 }

header {
   text-align: center;
   font-size: 45px;
 }

 .gris {
   background-color: #F7F7F7;
 }

p, li {
  color: #777777;
  font-size: 14px;
 }

#foot {
  text-align: center;
  color: black;
}

span {
  color: #B2C347;
}

a {
  color:#71B43D;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

h3 {
  display: inline-block;
  vertical-align: top;
  color: #71B43D;
  text-shadow: 5px 5px 5px #B2C347;
}

img {
  display: inline-block;
  width: 10%;
}

div {
  margin-left: 100px;
}
