body {
  font-size: 15px;
  margin: 0px;
  font-family: Helvetica, Arial;
 }

header {
  background-color: black;
 }

 .gris {
  background-color: #F7F7F7;
 }

p, li {
  color: #777777;
  font-size: 14px;
 }

#foot {
  text-align: center;
  color: black;
}

#vert_claire {
  color: #B2C347;
}

#github {
  color:#71B43D;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

h3 {
  display: inline-block;
  color: #71B43D;
  font-size: 30px;
  margin-left: 50px;
}

div {
  margin-left: 100px;
}

nav {
  display: inline-block;
  margin-left: 10%;
}

.menu {
  margin: auto;
}

.menu li {
  display: inline-block;
  margin:10px 30px
}

.menu li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}

.menu li a:hover {

  color: #71B43D;
}

span {
  color: #777777;
}

{
  border: 1px red dashed;
}
 section {
   width: 100%;
   display: inline-block;
 }
