body {
  font-size: 15px;
  margin: 0px;
  font-family: Helvetica, Arial;
 }

header, footer {
  background-color: black;
 }

.gris {
  background-color: #F7F7F7;
 }

p, li {
  color: #777777;
  font-size: 14px;
 }

#foot {
  text-align: center;
  color: white;
  padding-top: 8px;
}

#github {
  color:#71B43D;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

h3 {
  display: inline-block;
  color: #71B43D;
  font-size: 30px;
  margin-left: 50px;
}

.vert_clair {
  color: #C1D44D;
}

.largeur_960px {
  width: 960px;
  margin: auto;

}

.section_1 {
  min-height: 210px;
}
nav {
  display: inline-block;
  margin-left: 10%;
}

.menu {
  margin: auto;
}

.menu li {
  display: inline-block;
  margin:10px 30px
}

.menu li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}

.menu li a:hover {

  color: #71B43D;
}

.texte_a_propos {
  color: #777777;
}

.a_propos_de_moi, .left {
  float:left;
  width: 50%;
  text-align: center;
  font-size: 18px;
}

.mon_div_image, .right {
  float:left;
  text-align: center;
  width: 50%;
}
.ma_photo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  border-radius: 10%;
}
}

{
  border: 1px red dashed;
}
 .en_long {
   width: 100%;
   display: inline-block;
 }

 .trombi img{
   display:block;
 }

 .trombi {
   list-style: none;
 }

 .trombi a {
   text-decoration: none;
 }

 .trombi li {
   width: 150px;
   text-align: center;
   float: left;
   margin: 10px;
   height: 170px;
 }

 .sect {
   width: 960px;
   margin: auto;
 }

 .projet {
   text-decoration: none;
   list-style: none;
 }

 .zoom_image {
   zoom: 150%;
 }

.contact_traitement {
  text-align: center;
}

.form_contact {
    margin: 0 auto;
    margin-top: 80px;
    width: 400px;
    padding: 20px;
    border-left: 2px solid #777777;
    border-right: 2px solid #777777;
    background-image: url("lapin.png");
    background-repeat: no-repeat;
    background-position: left;
    background-color: white;
    color: #323232;
}

.label_contact {
    display: inline-block;
    width: 150px;
    text-align: right;
}

textarea {
    vertical-align: top;
    height: 50px;
}

.button {
  display: inline-block;
  margin-left: 52%;
  margin-top: 10px;
  border-top:#5D9432 4px solid;
  border-left:#5D9432 4px solid;
  border-right:#9E9F38 4px solid;
  border-bottom:#9E9F38 4px solid;
  border-radius: 50%;
}

button {
  border-radius: 50%;
  border: none;
  background-color: #D4D54B;
}
.div_label {
  margin-top: 5px;
}

.body_contact {
  background-color: #F7F7F7;
}

input {
  border-radius: 30%;
  background-color: #F7F7F7;
}

textarea{
  border-radius: 20%;
  background-color: #F7F7F7;
}

footer {
  height: 30px;
}
